<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <section class="heroblock">
          <div class="container__lg">
            <div class="heroblock__image">
              <img src="img/hero.png" alt="">
            </div><!-- /.heroblock__image -->
            <div class="heroblock__content">
              <div class="heroblock__title">Official Global Exporter</div>
              <div class="heroblock__link">
                <a href="#form" aria-label="anchor">Become a partner</a>
              </div>
            </div><!-- /.heroblock__content -->
          </div><!-- /.container -->
        </section><!-- /.heroblock -->
        <section class="section about">
          <div class="container">
            <h2>about us</h2>
          </div><!-- /.container -->
          <div class="about__wrapper">
            <div class="container">

              <div class="about__cols">
                <div class="about__col about__col_left">
                  <div class="aboutitem">
                    <div class="aboutitem__content">
                      <div class="aboutitem__title">Tallinn, Estonia</div>
                      <div class="aboutitem__text">headquarter</div>
                    </div><!-- /.aboutitem__content -->
                  </div><!-- /.aboutitem -->
                  <div class="aboutitem">
                    <div class="aboutitem__content">
                      <div class="aboutitem__title">Wholesaler</div>
                      <div class="aboutitem__text">of different goods</div>
                    </div><!-- /.aboutitem__content -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.about__col -->
                <div class="about__col about__col_right">
                  <div class="aboutitem">
                    <div class="aboutitem__content flex items-center">
                      <div class="aboutitem__icon">
                        <img src="img/image0031.png" alt="">
                      </div><!-- /.aboutitem__icon -->
                      <div class="aboutitem__main">
                        <div class="aboutitem__title">ISO 9001</div>
                        <div class="aboutitem__text">Certification</div>
                      </div><!-- /.aboutitem__main -->

                    </div><!-- /.aboutitem__content -->
                  </div><!-- /.aboutitem -->
                  <div class="aboutitem">
                    <div class="aboutitem__content">
                      <div class="aboutitem__title aboutitem__title_sm">Additional logistical services</div>
                      <div class="aboutitem__text">transportation, warehousing, сertification of goods</div>
                    </div><!-- /.aboutitem__content -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.about__col -->
              </div><!-- /.about__cols -->
            </div><!-- /.container -->

          </div><!-- /.about__wrapper -->
        </section>

        <section class="section categories">
          <div class="section__header blackwrapper">
            <div class="container">
              <h2>Product Categories</h2>

            </div><!-- /.container -->
          </div><!-- /.section__header -->
          <div class="container">
            <div class="categories__items">
              <div class="categories__item">
                <div class="categories__title">clothes</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle504.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">shoes</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 510.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">socks</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 506.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">toys</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 507.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">Sports equipment</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 511.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">dietary supplements</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 509.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">Perfumes & cosmetics</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle5041.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">Motorcycle equipment</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 522.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">Hockey equipment</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 512.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">furniture</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 513.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">lighting equipment</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 514.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">Horse ammunition</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 515.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
            </div><!-- /.categories__items -->
          </div><!-- /.container -->
        </section><!-- /.categories -->

        <section class="results" id="results">
          <div class="center">
            <h2>results 2025</h2>
          </div><!-- /.center -->
          <div class="container">
            <div class="stats flex items-center content-center">
              <div class="stats__item">
                <div class="stats__title">10 years</div><!-- /.stats__title -->
                <div class="stats__text">work experience</div><!-- /.stats__text -->
              </div><!-- /.stats__item -->
              <div class="stats__item">
                <div class="stats__title">1200</div><!-- /.stats__title -->
                <div class="stats__text">suppliers</div><!-- /.stats__text -->
              </div><!-- /.stats__item -->
              <div class="stats__item">
                <div class="stats__title">7000</div><!-- /.stats__title -->
                <div class="stats__text">completed orders</div><!-- /.stats__text -->
              </div><!-- /.stats__item -->

            </div><!-- /.stats flex items-center -->
          </div><!-- /.container -->
        </section>

        <section class="section process" id="process">
          <div class="container">
            <h2>workING process</h2>
            <div class="process__wrapper">
              <div class="process__items">
                <div class="process__item">Request</div><!-- /.process__item -->
                <div class="process__item">Product sourcing</div><!-- /.process__item -->
                <div class="process__item">Quality verification</div><!-- /.process__item -->
                <div class="process__item">Export documentation</div><!-- /.process__item -->
                <div class="process__item">Delivery</div><!-- /.process__item -->
              </div><!-- /.process__items -->
            </div><!-- /.process__wrapper -->
          </div><!-- /.container -->
        </section><!-- /#process.process -->

        <section class="section why" id="why"></section><!-- /#why.section why -->
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>