<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main id="top">
        <section class="heroblock">
          <div class="container__lg">
            <div class="heroblock__image onlyDesktop">
              <img src="img/hero.png" alt="">
            </div><!-- /.heroblock__image -->
            <div class="heroblock__image onlyMobile">
              <img src="img/hero_mobile.png" alt="">
            </div><!-- /.heroblock__image -->
            <div class="heroblock__content">
              <div class="heroblock__title">Official Global Exporter</div>
              <div class="heroblock__link">
                <a href="#form" aria-label="anchor">Become a partner</a>
              </div>
            </div><!-- /.heroblock__content -->
          </div><!-- /.container -->
        </section><!-- /.heroblock -->
        <section class="section about" id="aboutsection">
          <div class="container">
            <h2>about us</h2>
          </div><!-- /.container -->
          <div class="about__wrapper">
            <div class="container">

              <div class="about__cols">
                <div class="about__col about__col_left">
                  <div class="aboutitem">
                    <div class="aboutitem__content">
                      <div class="aboutitem__title">Tallinn, Estonia</div>
                      <div class="aboutitem__text">headquarter</div>
                    </div><!-- /.aboutitem__content -->
                  </div><!-- /.aboutitem -->
                  <div class="aboutitem">
                    <div class="aboutitem__content">
                      <div class="aboutitem__title">Wholesaler</div>
                      <div class="aboutitem__text">of different goods</div>
                    </div><!-- /.aboutitem__content -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.about__col -->
                <div class="about__col about__col_right">
                  <div class="aboutitem">
                    <div class="aboutitem__content flex items-center">
                      <div class="aboutitem__icon">
                        <img src="img/image0031.png" alt="">
                      </div><!-- /.aboutitem__icon -->
                      <div class="aboutitem__main">
                        <div class="aboutitem__title">ISO 9001</div>
                        <div class="aboutitem__text">Certification</div>
                      </div><!-- /.aboutitem__main -->

                    </div><!-- /.aboutitem__content -->
                  </div><!-- /.aboutitem -->
                  <div class="aboutitem">
                    <div class="aboutitem__content">
                      <div class="aboutitem__title aboutitem__title_sm">Additional logistical services</div>
                      <div class="aboutitem__text">transportation, warehousing, сertification of goods</div>
                    </div><!-- /.aboutitem__content -->
                  </div><!-- /.aboutitem -->
                </div><!-- /.about__col -->
              </div><!-- /.about__cols -->
            </div><!-- /.container -->

          </div><!-- /.about__wrapper -->
        </section>

        <section class="section categories" id="categories">
          <div class="section__header blackwrapper">
            <div class="container">
              <h2>Product Categories</h2>

            </div><!-- /.container -->
          </div><!-- /.section__header -->
          <div class="container">
            <div class="categories__items">
              <div class="categories__item">
                <div class="categories__title">clothes</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle504.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">shoes</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 510.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">socks</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 506.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">toys</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 507.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">Sports equipment</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 511.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">dietary supplements</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 509.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">Perfumes & cosmetics</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle5041.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">Motorcycle equipment</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 522.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">Hockey equipment</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 512.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">furniture</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 513.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">lighting equipment</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 514.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
              <div class="categories__item">
                <div class="categories__title">Horse ammunition</div><!-- /.categories__title -->
                <div class="categories__image">
                  <img src="img/Rectangle 515.png" alt="">
                </div><!-- /.categories__image -->
              </div><!-- /.categories__item -->
            </div><!-- /.categories__items -->
          </div><!-- /.container -->
        </section><!-- /.categories -->

        <section class="results" id="results">
          <div class="center">
            <h2>results 2025</h2>
          </div><!-- /.center -->
          <div class="container">
            <div class="stats flex items-center content-center">
              <div class="stats__item">
                <div class="stats__title">10 years</div><!-- /.stats__title -->
                <div class="stats__text">work experience</div><!-- /.stats__text -->
              </div><!-- /.stats__item -->
              <div class="stats__item">
                <div class="stats__title">1200</div><!-- /.stats__title -->
                <div class="stats__text">suppliers</div><!-- /.stats__text -->
              </div><!-- /.stats__item -->
              <div class="stats__item">
                <div class="stats__title">7000</div><!-- /.stats__title -->
                <div class="stats__text">completed orders</div><!-- /.stats__text -->
              </div><!-- /.stats__item -->

            </div><!-- /.stats flex items-center -->
          </div><!-- /.container -->
        </section>

        <section class="section process" id="process">
          <div class="container">
            <h2>workING process</h2>
            <div class="process__wrapper">
              <div class="process__items">
                <div class="process__item">Request</div><!-- /.process__item -->
                <div class="process__item">Product sourcing</div><!-- /.process__item -->
                <div class="process__item">Quality verification</div><!-- /.process__item -->
                <div class="process__item">Export documentation</div><!-- /.process__item -->
                <div class="process__item">Delivery</div><!-- /.process__item -->
              </div><!-- /.process__items -->
            </div><!-- /.process__wrapper -->
          </div><!-- /.container -->
        </section><!-- /#process.process -->

        <section class="section whysection" id="whysection">
          <div class="container">
            <h2>Why Choose Us?</h2>
            <div class="whysection__items">



              <div class="whysection__item">
                <div class="whysection__mask">
                  <div class="whysection__itemwrapper">
                    <div class="whysection__itemtitle">Official Supply</div>
                    <div class="whysection__itemtext">Direct partnerships with licensed distributors</div>
                  </div>
                </div>
              </div><!-- /.whysection__item -->
              <div class="whysection__item">
                <div class="whysection__mask">
                  <div class="whysection__itemwrapper">
                    <div class="whysection__itemtitle">Flexible Volumes</div>
                    <div class="whysection__itemtext">From small batches to large contracts</div>
                  </div>
                </div>
              </div><!-- /.whysection__item -->
              <div class="whysection__item">
                <div class="whysection__mask">
                  <div class="whysection__itemwrapper">
                    <div class="whysection__itemtitle">Fast Logistics</div>
                    <div class="whysection__itemtext">Optimized international shipping</div>
                  </div>
                </div>
              </div><!-- /.whysection__item -->
              <div class="whysection__item">
                <div class="whysection__mask">
                  <div class="whysection__itemwrapper">
                    <div class="whysection__itemtitle">Full Transparency</div>
                    <div class="whysection__itemtext">Clear documentation & agreements</div>
                  </div>
                </div>
              </div><!-- /.whysection__item -->
            </div><!-- /.whysection__items -->
          </div><!-- /.container -->
        </section><!-- /#why.section why -->

        <section class="section mapsection" id="mapsection">
          <div class="container">
            <h2>Branches and partner <br>
              warehouses map</h2>
            <div class="mapsection__map">

            </div><!-- /.mapsection__map -->
          </div><!-- /.container -->
        </section><!-- /.section mapsection -->
        <section class="section partnersection" id="partnersection1">
          <div class="container">
            <div class="partnersection__wrapper">
              <div class="partnersection__left">
                <h2>Partner Warehouse <br><img src="img/Poland.svg" alt=""> in Poland</h2>
                <div class="partnersection__address bgline_black">
                  <div class="partnersection__icon"><img src="img/location.svg" alt=""></div>
                  <div class="partnersection__text">Kopytów 44, 05-870 Kopytów <br>
                    Prologis Park Błonie, Building DC 6B <br>
                    20 km from Warsaw, E30 highway</div>
                </div><!-- /.partnersection__address -->
              </div><!-- /.partnersection__left -->
              <div class="partnersection__right">
                <div class="partnersection__image">
                  <img src="img/Rectangle485.jpg" alt="" loading="lazy">
                </div><!-- /.partnersection__image -->
              </div><!-- /.partnersection__right -->
            </div><!-- /.partnersection__wrapper -->

          </div><!-- /.container -->
        </section><!-- /.section  -->
        <section class="section partnersection" id="partnersection2">
          <div class="container">
            <div class="partnersection__wrapper">
              <div class="partnersection__left">
                <h2>Key Facts</h2>
                <div class="statblocks">
                  <div class="statblocks__items">
                    <div class="statblocks__item" style="background: #00a1e8;">
                      <div class="statblocks__value">9,800 m²</div>
                      <div class="statblocks__text">warehouse area</div>
                    </div><!-- /.statblocks__item -->
                    <div class="statblocks__item" style="background: #d7282f;">
                      <div class="statblocks__value">600 <small>tons/month</small></div>
                      <div class="statblocks__text">аverage volume</div>
                    </div><!-- /.statblocks__item -->
                    <div class="statblocks__item" style="background: #d7282f;">
                      <div class="statblocks__value">14</div>
                      <div class="statblocks__text">loading ramps</div>
                    </div><!-- /.statblocks__item -->
                    <div class="statblocks__item" style="background: #00a1e8;">
                      <div class="statblocks__value">6,000</div>
                      <div class="statblocks__text">pallet spaces</div>
                    </div><!-- /.statblocks__item -->
                    <div class="statblocks__item full" style="background: #989e9c;">
                      <div class="statblocks__value"><small>up to </small>140</div>
                      <div class="statblocks__text">employees at peak capacity</div>
                    </div><!-- /.statblocks__item -->
                  </div><!-- /.statblocks__items -->
                </div><!-- /.statblocks -->
              </div><!-- /.partnersection__left -->
              <div class="partnersection__right">
                <div class="textabout bgline_black bgline_right">
                  <h3>Customs & Certification</h3>
                  <p>Certified customs operations with infrastructure for high-value and regulated goods.</p>
                  <ul>
                    <li>Temporary & permanent customs warehouse</li>
                    <li>2 customs inspection zones</li>
                    <li>Customs guarantee allowing the acceptance of goods at a customs warehouse worth up
                      to&nbsp;1&nbsp;million euros</li>
                    <li>BRC Storage & Distribution certified</li>
                    <li>ISO 9001 certified</li>

                  </ul>
                </div><!-- /.textabout -->
              </div><!-- /.partnersection__right -->
            </div><!-- /.partnersection__wrapper -->

            <div class="partnersection__content">
              <div class="partnersection__text_xl">The Trans Tok warehouse has two customs inspection zones for goods:
              </div><!-- /.partnersection__textxl -->
              <div class="partnersection__text">
                <ul>
                  <li>– an on-site vehicle clearance zone without check-in at Polish customs terminals</li>
                  <li>– an area with the customs status of a temporary storage warehouse and a dedicated permanent
                    customs storage warehouse, which allows receiving and consolidating goods, sorting and labeling
                    without customs clearance</li>
                </ul>
              </div><!-- /.partnersection__text -->
            </div><!-- /.partnersection__content -->
            <div class="partnersection__text_xl">Our partner <br> warehouse in Poland
              <p>offers long-term and short-term storage, mechanical and manual handling, repackaging, and labeling of
                goods.
              </p>
            </div><!-- /.partnersection__textxl -->

            <div class="partnersection__textimg">
              <div class="partnersection__textimg_text">
                <div class="partnersection__textlg">The labeling area is divided <br>
                  into different departments:</div><!-- /.partnersection__textlg -->
                <div class="partnersection__textlist">
                  <ul>
                    <li>• Product inventory department</li>
                    <li>• Automatic labeling department</li>
                    <li>• Manual labeling department</li>
                    <li>• Inspection department in case of damage to boxes or suspicious packaging</li>
                  </ul>
                </div><!-- /.partnersection__textlist -->
              </div><!-- /.partnersection__textimg -->
              <div class="partnersection__textimg__img">
                <img src="img/Rectangle525.jpg" alt="" loading="lazy">
              </div><!-- /.partnersection__textimg__img -->
            </div><!-- /.partnersection__textimg -->

            <div class="partnersection__titleright">Fulfillment Solutions by in Poland, Turkey, and
              China</div>
            <div class="partnersection__textcolumns">
              <div class="partnersection__textcolumns_left">
                <div class="textabout bgline_black ">
                  <h3>Our solutions include:</h3>
                  <ul>
                    <li>– receiving and processing goods at warehouses</li>
                    <li>– storage tailored to product specifics</li>
                    <li>– consolidation and repackaging of shipments</li>
                    <li>– labeling and preparation for dispatch</li>
                    <li>– organization of international delivery</li>

                  </ul>
                </div><!-- /.textabout -->
                <div class="partnersection__text">
                  <p>Operating across strategically important regions,
                    we ensure flexible routing, reduced delivery times,
                    and lower operational costs.</p>

                  <p>Fulfillment by means transparent processes, end-to-end control, and solutions
                    tailored
                    to your business needs, regardless of volume or geography.</p>
                </div><!-- /.partnersection__text -->

              </div>
              <div class="partnersection__textcolumns_right">
                <div class="partnersection__text">
                  <p> offers comprehensive fulfillment services in key logistics hubs – Poland, Turkey
                    and China. We provide a full cycle of goods handling, enabling businesses to optimize their supply
                    chains and focus on sales growth.</p>
                  <img src="img/Rectangle420.jpg" alt="">
                </div>
              </div>
            </div><!-- /.partnersection__textcolumns -->
          </div><!-- /.container -->
        </section><!-- /.section  -->
        <section class="section salessection" id="salesblock">
          <div class="container">
            <h2>Sustained Growth of Sales Revenue since 2021</h2>
            <div class="salessection__items">
              <div class="salessection__item">
                <div class="salessection__wrapper">
                  <div class="salessection__title">in 2021 </div>
                  <div class="salessection__value">10 186 000 €</div>
                </div>
              </div>
              <div class="salessection__item">
                <div class="salessection__wrapper">
                  <div class="salessection__title">in 2022 </div>
                  <div class="salessection__value">29 649 302 €</div>
                </div>
              </div>

              <div class="salessection__item">
                <div class="salessection__wrapper">
                  <div class="salessection__title">in 2023 </div>
                  <div class="salessection__value">56 860 746 €</div>
                </div>
              </div>
              <div class="salessection__item">
                <div class="salessection__wrapper">
                  <div class="salessection__title">in 2024 </div>
                  <div class="salessection__value">67 364 719 €</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section companysection" id="companysection">
          <div class="container">
            <h2>Company details</h2>
            <div class="companysection__table">
              <table>
                <tbody>
                  <tr>
                    <td>Recipient</td>
                    <td>MHV Builders OÜ</td>
                  </tr>
                  <tr>
                    <td>Registration number </td>
                    <td>12914774</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>Harju maakond, Tallinn, Kesklinna linnaosa, Narva mnt 7b, 10117, Estonia</td>
                  </tr>
                  <tr>
                    <td>EORI no</td>
                    <td>EE12914774</td>
                  </tr>
                  <tr>
                    <td>VAT no</td>
                    <td>EE 102013791</td>
                  </tr>
                  <tr>
                    <td>VAT no</td>
                    <td>PL 7831884241</td>
                  </tr>

                </tbody>
              </table>
            </div><!-- /.companysection__table -->
          </div>
        </section>
        <section class="section activitiessection" id="activitiessection">
          <div class="container">
            <h2>Official activities of the company </h2>
          </div>
          <div class="activitiessection__container">
            <div class="container">
              <div class="activitiessection__items">
                <div class="activitiessection__item">
                  <div class="activitiessection__value">46 901</div>
                  <div class="activitiessection__text">Non-specialised<br> wholesale trade</div>
                </div><!-- /.activitiessection__item -->
                <div class="activitiessection__item">
                  <div class="activitiessection__value">52 241</div>
                  <div class="activitiessection__text">Cargo <br>handling</div>
                </div><!-- /.activitiessection__item -->
                <div class="activitiessection__item">
                  <div class="activitiessection__value">46 191</div>
                  <div class="activitiessection__text">Activities of agents <br>involved in non-<br>specialised
                    wholesale</div>
                </div><!-- /.activitiessection__item -->
              </div><!-- /.activitiessection__items -->
            </div><!-- /.container -->
          </div><!-- /.activitiessection__container -->
        </section>
        <section class="section formsection" id="formsection">
          <div class="container">
            <h2>Write to us</h2>
            <div class="formsection__wrapper">
              <div class="formsection__aside">
                <div class="formsection__text">If you have any questions or suggestions, we would love to discuss them
                  with you. Please leave your contact information and we will get back to you!</div>
                <div class="formsection__contactblock">
                  <div class="formsection__contacttitle"></div>
                  <div class="formsection__contactwrapper">
                    <div class="formsection__contact"><a href="tel:+372660012" class="phone">+ 372 660 012</a></div>
                    <div class="formsection__contact"><a href="mailto:info@mhvbuilders.ee"
                        class="email">info@mhvbuilders.ee</a></div>
                  </div>
                </div><!-- /.formsection__contact -->
              </div><!-- /.formsection__aside -->
              <div class="formsection__form">
                <form action="#" id="form">
                  <fieldset id="personal-info">
                    <div class="inputblock">
                      <label for="full-name">Your name</label>
                      <input type="text" id="full-name" name="full-name" autocomplete="cargotrans"
                        placeholder="Enter your name" required>
                    </div>

                    <div class="inputblock">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" autocomplete="cargotrans"
                        placeholder="example@example.com" required="" pattern="^.+@\w+\.\w{2,}$">
                    </div>
                    <div class="inputblock">
                      <label for="phone">Phone number</label>
                      <input type="tel" id="phone" name="phone" autocomplete="cargotrans" required=""
                        placeholder="Enter your phone number">
                    </div>
                    <div class="inputblock">
                      <label for="comment">Comment</label>
                      <textarea name="comment" id="comment" rows="4"></textarea><!-- /# -->
                    </div>
                  </fieldset>

                  <fieldset class="check-block check-block_big">
                    <input type="checkbox" id="id_check" required="">
                    <label for="id_check">I agree to the processing of personal data</label>
                  </fieldset>

                  <div class="inputblock">
                    <button type="submit" id="submit-btn" class="btn">Send</button>
                  </div>

                </form>
              </div><!-- /.formsection__form -->
            </div><!-- /.formsection__wrapper -->
          </div>
        </section>
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>