@font-face {
  font-family: "Bebas Neue";
  src:
    url("../fonts/BebasNeue-Bold.woff2") format("woff2"),
    url("../fonts/BebasNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue Book";
  src:
    url("../fonts/BebasNeue-Book.woff2") format("woff2"),
    url("../fonts/BebasNeue-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("../fonts/BebasNeue-Light.woff2") format("woff2"),
    url("../fonts/BebasNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("../fonts/BebasNeue-Thin.woff2") format("woff2"),
    url("../fonts/BebasNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("../fonts/Helvetica-Bold.woff2") format("woff2"),
    url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("../fonts/Helvetica-Light.woff2") format("woff2"),
    url("../fonts/Helvetica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("../fonts/Helvetica-Regular.woff2") format("woff2"),
    url("../fonts/Helvetica-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Helvetica";
  --second-family: "Bebas Neue";
}

body {
  min-width: 402px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;
  color: $main;
  overflow-x: hidden;
  width: 100%;
}
* {
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  line-height: 1.2;
}
/* main {
		overflow: hidden;
}
*/
a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: $main;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}

@media (min-width: 1023px) {
  .onlyMobile {
    display: none !important;
  }
}
@include medium-screen {
  .onlyMobile {
    display: initial;
  }
  .onlyDesktop {
    display: none !important;
  }
}
.container {
  @include container;
}

.headertop__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.headertop__left {
}
.headertop__leftitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.headertop__leftitems > * {
  margin-right: 22px;
}
.headertop__leftitems > *:last-child {
  margin-right: 0;
}

.headertop__right {
}
.headertop__rightitems {
}
.headertop {
  padding: 26px 0 13px 0;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}
.topmenu__wrapper {
}
.topmenu__items {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    li {
      margin-left: 14px;
      &:first-child {
        margin-left: 0;
      }
      a {
        padding: 8px 14px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        color: #2f3a44;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &:hover {
          color: $main;
        }
        &:focus {
          color: $main;
        }
      }
    }
  }
}
.heroblock {
  background: #000;
  padding: 5px 0 37px 0;
}
.heroblock__content {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroblock__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 75px;
  line-height: 86%;
  text-transform: uppercase;
  color: #fff;
}
.heroblock__link a {
  display: block;
  padding-right: 70px;
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #fff;
  line-height: 1;
}
.heroblock__link a:after {
  position: absolute;
  right: 15px;
  top: 5px;
  width: 33px;
  height: 8px;
  transition: all 0.4s ease;
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='34' height='8' viewBox='0 0 34 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M33.804 4.00409C33.9977 3.81035 33.9977 3.49623 33.804 3.30249L30.6468 0.145302C30.453 -0.0484385 30.1389 -0.0484385 29.9452 0.145302C29.7514 0.339043 29.7514 0.653159 29.9452 0.8469L32.7516 3.65329L29.9452 6.45968C29.7514 6.65343 29.7514 6.96754 29.9452 7.16128C30.1389 7.35502 30.453 7.35502 30.6468 7.16128L33.804 4.00409ZM0 3.65329L-4.33709e-08 4.14939L33.4532 4.1494L33.4532 3.65329L33.4532 3.15719L4.33709e-08 3.15719L0 3.65329Z' fill='white'/%3e%3c/svg%3e");
}
.heroblock__link a:hover:after {
  right: 0;
}

.cookies {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.cookies__wrapper {
  padding: 15px;
  background: #000;
  /* cookies */
}

.cookies__content {
}

.cookies__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -15px;
}

.cookies__item {
  padding: 0 15px;
}

.cookies__img {
}

.cookies__text {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;

  /* #0A0033 */

  color: #7b7794;
}

.cookies__button .btn_main.btn_main_default.btn_main_white {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  height: 38px;
  line-height: 34px;
  text-align: center;
  max-width: 227px;
  min-width: 200px;

  /* Черный */

  color: #000000;
}

.cookies__button .btn_main.btn_main_default.btn_main_white:hover,
.cookies__button .btn_main.btn_main_default.btn_main_white:focus {
  color: #2a4c80;
}

.cookies_v5 .cookies__text {
  font-weight: 300;
  font-size: 12px;
  color: #000;
  display: block;
  line-height: 120%;
}

.cookies_v5 .cookies__text a {
  color: #344ccc;
}

.cookies_v5 .cookies__wrapper {
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.cookies_v5 {
  bottom: 30px;
}

.cookies_v5 .cookies__wrapper {
  max-width: 1120px;
  margin: auto;
  box-shadow: 0 2px 9px 3px rgba(115, 100, 178, 0.3);
  border-radius: 16px;
}

.cookies_v5 .cookies__button .btn_main {
  padding: 0 20px;
  min-width: 166px;
  border-radius: 10px;
  font-size: 16px;
}

.btn-cookie {
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background-color: #0db1f4;
  color: #fff;
  padding: 15px;
  background-image: none;
  border-radius: 5px;
  text-shadow: none;
  box-shadow: none;
  border: none;
  display: block;
}

@media (max-width: 999px) {
  .btn-cookie {
    font-size: 14px;
    padding: 10px;
  }
  .cookies_v5 .cookies__text {
    margin-bottom: 20px;
  }
  .cookies_v5 .cookies__item {
    width: 100%;
  }
  .cookies_v5 .cookies__items {
    justify-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
  }
  .cookies_v5 .cookies__button {
    text-align: center;
    margin: auto;
  }
}
