@font-face {
  font-family: "Bebas Neue";
  src:
    url("../fonts/BebasNeue-Bold.woff2") format("woff2"),
    url("../fonts/BebasNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue Book";
  src:
    url("../fonts/BebasNeue-Book.woff2") format("woff2"),
    url("../fonts/BebasNeue-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("../fonts/BebasNeue-Light.woff2") format("woff2"),
    url("../fonts/BebasNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("../fonts/BebasNeue-Thin.woff2") format("woff2"),
    url("../fonts/BebasNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("../fonts/Helvetica-Bold.woff2") format("woff2"),
    url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("../fonts/Helvetica-Light.woff2") format("woff2"),
    url("../fonts/Helvetica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("../fonts/Helvetica-Regular.woff2") format("woff2"),
    url("../fonts/Helvetica-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Helvetica";
  --second-family: "Bebas Neue";
}

body {
  min-width: 402px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;
  color: $main;
  overflow-x: hidden;
  width: 100%;
}
* {
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  line-height: 1.2;
}
/* main {
		overflow: hidden;
}
*/
a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: $main;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}

@media (min-width: 1023px) {
  .onlyMobile {
    display: none !important;
  }
}
@include medium-screen {
  .onlyMobile {
    display: initial;
  }
  .onlyDesktop {
    display: none !important;
  }
}
.container {
  @include container;
}

.headertop__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.headertop__left {
}
.headertop__leftitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.headertop__leftitems > * {
  margin-right: 22px;
}
.headertop__leftitems > *:last-child {
  margin-right: 0;
}

.headertop__right {
}
.headertop__rightitems {
}
.headertop {
  padding: 26px 0 13px 0;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}
.topmenu__wrapper {
}
.topmenu__items {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    li {
      margin-left: 14px;
      &:first-child {
        margin-left: 0;
      }
      a {
        padding: 8px 14px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        color: #2f3a44;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &:hover {
          color: $main;
        }
        &:focus {
          color: $main;
        }
      }
    }
  }
}
